---
layout: default
title: BLOG / 雑記
is_layout_page: true
category: blog
---

<div class="post-list">
  {% for post in site.posts %}
    {% if post.category == page.category or post.tags contains page.tag %}
    <a href="{{ post.url }}" class="card">
      <div class="thumb">
        <img src="/assets/images/{% if post.thumbnail %}{{ post.thumbnail }}{% else %}default-thumb.jpg{% endif %}" alt="">
      </div>
      <div class="card-content">
        <div class="date">{{ post.date | date: "%Y.%m.%d" }}</div>
        <div class="title">{{ post.title }}</div>
      </div>
    </a>
    {% endif %}
  {% endfor %}
</div>