---
layout: default
title: Home
---

<div class="home">
  <h1>NOKEMONO CLUB 記事一覧</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p>{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination" style="margin-top: 30px; text-align: center;">
    
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" style="margin-right: 15px; font-weight: bold;">&laquo; 新しい記事</a>
    {% else %}
      <span style="color: #999; margin-right: 15px;">&laquo; 新しい記事</span>
    {% endif %}

    <span class="page_number" style="margin: 0 10px;">
      {{ paginator.page }} / {{ paginator.total_pages }} ページ
    </span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" style="margin-left: 15px; font-weight: bold;">古い記事 &raquo;</a>
    {% else %}
      <span style="color: #999; margin-left: 15px;">古い記事 &raquo;</span>
    {% endif %}

  </div>
  {% endif %}

</div>
